[user]
	email = ashon8813@gmail.com
	name = ashon
[push]
	default = matching
[alias]
	st = status
	br = branch
	ci = commit
	co = checkout
	stsh = stash
	unstage = reset HEAD --
	ps = push
	pl = pull
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
